
.saved-patches-list {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
}

.saved-patch-list-item {
    border: solid 2px var(--color-outline);
    background: var(--color-background);
    display: flex;
    flex-direction: row;
    height: 10rem;
    position: relative;
    transition: background-color .2s ease,color .2s ease,background .2s ease;
    cursor: pointer;
}

.saved-patch-list-item.new-patch {
    height: 3rem;
    color: var(--color-outline);
    background: var(--color-background);
    padding: 0.5rem;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.saved-patch-list-item.new-patch:hover {
    background: var(--color-outline);
    color: var(--color-background);
} 

.saved-patch-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    color: var(--color-outline);
    background: var(--color-background);
    transition: background-color .2s ease,color .2s ease,background .2s ease;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.saved-patch-preview {
    height: 100%;
    position: relative;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.saved-patches-scroller {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.saved-patch-preview > img {
    width: 19rem;
    float: right;
}

.saved-patch-name {
    flex-grow: 1;
    font-size: 40px;
}

.saved-patch-list-item:hover {
    background: var(--color-outline-faded);
}

.saved-patch-list-item:hover .saved-patch-detail {
    background: var(--color-outline);
    color: var(--color-background);
}